
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<section class="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Business Plan</a>
                    </li>

                </ul>
                <h2>Business Plan</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-contant">
                    <h3 class="text-uppercase">Joining amount RS 145</h3>
                    <ul>
                        <li>1 pan card ultimate uds</li>
                        <li><a href="#">withdrow limit per closing 50000</a></li>
                        <li>product radiaction chip. courier charges 50rs par product</li>
                        <li>main wallet se withdrow lena hoga</li>
                        <li>Single Leg wallet 2% binary wallet 5% transfer charges</li>
                        <li>pre launching period daily payment and after</li>
                        <li>closing time 5,10,15,20,25,30</li>
                        <li>single leg level per closing 2 level ka hi income </li>
                        <li>weel me 2 time autofill binaryincome le shkte hai</li>
                        <li>aftre binary upgrade karne ke liye reserve wallet use hoga</li>
                        <li><span>for example single leg 7<sup>th</sup> level se 350 kaat liya jayega, 350 autofill binary system me use hoga</span></li>
                        <li><span>for example selection 1<sup>st</sup> se 3500 kaat liya jayega, 2500 autofill binary system selection 2<sup>nd</sup> system me use hoga, and 1000 sponser ke main wallet me jayega </span></li>
                    </ul>
                    <div class="col-sm-6">

                        <table class="table table-bordered table-responsive">
                            <tr>
                                <td>1</td>
                                <td>single leg income</td>
                                <td>348515</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>level income</td>
                                <td>unlimited</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>autofill binary income</td>
                                <td>2067560</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>sponsor income</td>
                                <td>unlimited</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>franchise income</td>
                                <td>unlimited</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>royalty income</td>
                                <td>unlimited</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>cash bank income/reward income</td>
                                <td>8300</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-contant">

                    <div class="col-sm-5">
                        <h3 class="text-uppercase">single leg income</h3>

                        <table class="table table-bordered table-responsive custom-table">
                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>team</th>
                                    <th>income</th>
                                    <th>direct</th>
                                    <th>upgrade</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>18</td>
                                    <td>65</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>65</td>
                                    <td>80</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>175</td>
                                    <td>100</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>18</td>
                                    <td>65</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>410</td>
                                    <td>200</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>800</td>
                                    <td>320</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1500</td>
                                    <td>500</td>
                                    <td>3</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3500</td>
                                    <td>750</td>
                                    <td>3</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>5050</td>
                                    <td>2500</td>
                                    <td>7</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>10500</td>
                                    <td>4000</td>
                                    <td>11</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>20600</td>
                                    <td>11000</td>
                                    <td>19</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>254</td>
                                    <td>-----</td>
                                    <td>52</td>
                                    <td>350</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <table class="table table-bordered table-responsive custom-table">
                            <h3 class="text-uppercase">level income</h3>

                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>percentsge</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>18%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1%</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>.50%</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>.50%</td>
                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>28%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="main-contant">
                    <h2>Autofill Binary income</h2>

                    <div class="col-sm-5">
                        <h3 class="text-uppercase">upgrade ampunt 350</h3>

                        <table class="table table-bordered table-responsive custom-table">
                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>team</th>
                                    <th>sehedule</th>
                                    <th>income</th>
                                    <th>upgrade</th>
                                    <th>sponsor income</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>40*2</td>
                                    <td>80</td>
                                    <td>0</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>4</td>
                                    <td>40*4</td>
                                    <td>160</td>
                                    <td>0</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>8</td>
                                    <td>40*8</td>
                                    <td>320</td>
                                    <td>0</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>16</td>
                                    <td>40*16</td>
                                    <td>640</td>
                                    <td>0</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>32</td>
                                    <td>40*32</td>
                                    <td>1280</td>
                                    <td>0</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>64</td>
                                    <td>40*64</td>
                                    <td>2560</td>
                                    <td>0</td>
                                    <td>0</td>

                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>128</td>
                                    <td>40*128</td>
                                    <td>5120</td>
                                    <td>3500</td>
                                    <td>1000</td>

                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>254</td>
                                    <td>----</td>
                                    <td>10160</td>
                                    <td>--</td>
                                    <td>--</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <table class="table table-bordered table-responsive custom-table">
                            <h3 class="text-uppercase">upgrade ampunt 2500</h3>

                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>percentsge</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>18%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1%</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>.50%</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>.50%</td>
                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>28%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="main-contant">

                    <div class="col-sm-5">
                        <h3 class="text-uppercase">upgrade ampunt 5000</h3>

                        <table class="table table-bordered table-responsive custom-table">
                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>team</th>
                                    <th>income</th>
                                    <th>direct</th>
                                    <th>upgrade</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>18</td>
                                    <td>65</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>65</td>
                                    <td>80</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>175</td>
                                    <td>100</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>18</td>
                                    <td>65</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>410</td>
                                    <td>200</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>800</td>
                                    <td>320</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1500</td>
                                    <td>500</td>
                                    <td>3</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3500</td>
                                    <td>750</td>
                                    <td>3</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>5050</td>
                                    <td>2500</td>
                                    <td>7</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>10500</td>
                                    <td>4000</td>
                                    <td>11</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>20600</td>
                                    <td>11000</td>
                                    <td>19</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>254</td>
                                    <td>-----</td>
                                    <td>52</td>
                                    <td>350</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <table class="table table-bordered table-responsive custom-table">
                            <h3 class="text-uppercase">upgrade ampunt 10000</h3>

                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>percentsge</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>18%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>4%</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1%</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>.50%</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>.50%</td>
                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>28%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="main-contant">

                    <div class="col-sm-5">
                        <h3 class="text-uppercase">upgrade ampunt 50000</h3>

                        <table class="table table-bordered table-responsive custom-table">
                            <thead>
                                <tr>
                                    <th>level</th>
                                    <th>team</th>
                                    <th>income</th>
                                    <th>direct</th>
                                    <th>upgrade</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>18</td>
                                    <td>65</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>65</td>
                                    <td>80</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>175</td>
                                    <td>100</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>18</td>
                                    <td>65</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>410</td>
                                    <td>200</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>800</td>
                                    <td>320</td>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1500</td>
                                    <td>500</td>
                                    <td>3</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3500</td>
                                    <td>750</td>
                                    <td>3</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>5050</td>
                                    <td>2500</td>
                                    <td>7</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>10500</td>
                                    <td>4000</td>
                                    <td>11</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>20600</td>
                                    <td>11000</td>
                                    <td>19</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>total</td>
                                    <td>254</td>
                                    <td>-----</td>
                                    <td>52</td>
                                    <td>350</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
