
@{
    ViewData["Title"] = "Index";
}

<h2>Level Income</h2>
<section title="Single leg income" ng-controller="ctrLevelIncome">
    <div class="panel">
        <div class="panel-heading">
            <h4><i class="fa fa-handshake"></i>&nbsp;Level Income</h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-light" ng-init="getLevelIncome()">
                <thead>
                    <tr>
                        <th>S No</th>
                        <th>Level #</th>
                        <th>Total Income</th>
                        <th>Level Completed </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="level in _levelIncome">
                        <td>{{$index+1}}</td>
                        <td>{{level.levelNumber}}</td>
                        <td>{{level.amount | currency:"INR "}}</td>
                        <td>{{level.creditOn | date:'short'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

