
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Single Leg Income</h2>

<section title="Single leg income">
    <div class="panel">
        <div class="panel-heading">
            <h4><i class="fa fa-handshake"></i>&nbsp;Single leg income levels</h4>
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <th>Level</th>
                    <th>Total Directs</th>
                    <th>Total teams</th>
                    <th>Single Leg Amount</th>
                    <th>Level Amount</th>
                    <th>Total Income</th>
                    <th>Level Completed </th>
                </tr>
                <tr>
                    <td>Level 1</td>
                    <td>0</td>
                    <td>18</td>
                    <td>50</td>
                    <td>0</td>
                    <td>50</td>
                    <td>29/08/2018 10:12 AM</td>
                </tr>
                <tr>
                    <td>Level 2</td>
                    <td>1</td>
                    <td>20</td>
                    <td>70</td>
                    <td>22.40</td>
                    <td>92.40</td>
                    <td>--</td>
                </tr>
            </table>
        </div>
    </div>
</section>