
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Single Leg Income</h2>

<section title="Single leg income" ng-controller="ctrSingleLeg">
    <div class="panel">
        <div class="panel-heading">
            <h4><i class="fa fa-handshake"></i>&nbsp;Single leg income levels</h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-light" ng-init="getSingleLeg()">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Total Directs</th>
                        <th>Total teams</th>
                        <th>Single Leg Amount</th>
                        <th>Level Amount</th>
                        <th>Total Income</th>
                        <th>Level Completed </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in _singleLeg">
                        <td>Level {{$index+1}}</td>
                        <td>{{data.totalDirects}}</td>
                        <td>{{data.totalTeams}}</td>
                        <td>{{data.singleLegIncomeAmount | currency:"INR "}}</td>
                        <td>{{data.levelIncomeAmount | currency:"INR "}}</td>
                        <td>{{data.totalIncome | currency:"INR "}}</td>
                        <td>{{data.levelCompleteDate | date:'short' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>