
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<section class="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">About our company</h3>
                <p class="text-justify">The is the pioneers in promoting, developing and marketing different types of products and has got over many years of rich experience in marketing and human resource management. Today is professionally managed by a team of experienced Leaders and technically qualified front and back-office professionals & staff.</p>
            </div>
        </div>
    </div>
</section>
