
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="franchiseIncomeHeading">
    <div class="panel">
        <div class="panel-heading">
            <h3><i class="fa fa-handshake"></i>&nbsp;Franchise</h3>
        </div>
    </div>
</section>
<section class="franchiseIncomes">
    <div class="panel">
        <div class="panel-heading">
            <h4><i class="fa fa-handshake"></i>&nbsp;Franchise Requests</h4>
            <div class="pull-right">
                <a href="/FranchiseIncome/AddFranchise">New Frenchise Request</a>
            </div>
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <th>Sr No</th>
                    <th>Total Pins Request</th>
                    <th>Free Pin(s)</th>
                    <th>Total Amount</th>
                    <th>Show Pins</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>20</td>
                    <td>2</td>
                    <td>2800</td>
                    <td><a href="javascript:void()">View</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10</td>
                    <td>1</td>
                    <td>1400</td>
                    <td><a href="javascript:void()">View</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>

