
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="franchiseIncomeHeading">
    <div class="panel">
        <div class="panel-heading">
            <h3><i class="fa fa-handshake"></i>&nbsp;Franchise</h3>
        </div>
    </div>
</section>
<section class="franchiseIncomes" ng-controller="ctrFranchise">
    <div class="panel">
        <div class="panel-heading">
            <h4><i class="fa fa-handshake"></i>&nbsp;Franchise Requests</h4>
            <div class="pull-right">
                <a href="/FranchiseIncome/AddFranchise">New Frenchise Request</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered white-bg" ng-init="getFranchiseIncomeType()">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Total Pins Request</th>
                        <th>Free Pin(s)</th>
                        <th>Total Amount</th>
                        <th>Show Pins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fit in data">
                        <td>{{$index+1}}</td>
                        <td>{{fit.pins}}</td>
                        <td>{{fit.freePins}}</td>
                        <td>{{fit.amount}}</td>
                        <td><a href="/FranchiseIncome/PinsList?franchiseIncomeTypeID={{fit.id}}" class="btn btn-sm btn-success">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

