
@{
    ViewData["Title"] = "PinsList";
}

<h2>PinsList</h2>
<section class="User-info">
    <div class="panel">
        <div class="panel-heading">
            <h4><i class="fa fa-key"></i>&nbsp;Pin List</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <pin-table></pin-table>
                </div>
            </div>
        </div>
    </div>
</section>

