@{
    ViewData["Title"] = "Login || GuruRajhansh";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<style>

    .border-bottom > h2 {
        border-bottom: solid 1px #0094ff;
    }
</style>
<section ng-controller="ctrLogin">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                @*<div class="panel-heading">
                        <h2>Registration...</h2>
                    </div>*@
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-2">&nbsp;</div>
                <div class="col-lg-8">
                    <div class="panel">
                        <div class="panel-heading border-bottom">
                            <h2>Login...</h2>
                        </div>
                        <div class="panel-body">
                            <form ng-submit="Login()" name="UserLogin">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Phone Number</label>
                                            <input type="text" class="form-control" ng-model="Login.PhoneNumber" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Password</label>
                                            <input type="password" class="form-control" ng-model="Login.Password" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right col-sm-12"><i class="fa fa-unlock"></i>&nbsp;LogIn</button>
                            </form>
                            <div class="clearfix">
                                <span>
                                    If you are not register, Please <a href="@Url.Action("Registration","User")">cleck here.</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">&nbsp;</div>
            </div>
            
        </div>
    </div>
</section>
