@model MLM.Business.Models.ReqModels.RegistrationRequest

@{
    ViewData["Title"] = "Registration || GuruRajhansh";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<style>

    .border-bottom > h2 {
        border-bottom: solid 1px #0094ff;
    }
</style>
<section ng-controller="ctrRegistration">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                @*<div class="panel-heading">
                        <h2>Registration...</h2>
                    </div>*@
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading border-bottom">
                    <h2>Registration...</h2>
                </div>
                <div class="panel-body">
                    <form ng-submit="register()" name="UserRegistration">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Sponser Number</label>
                                    <input asp-for="ParentSponserID" type="text" ng-blur="getParentSponserInfo()" class="form-control" ng-model="User.ParentSponserID" name="sponserID" required>
                                    <span asp-validation-for="ParentSponserID" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.sponserID.$error.required && UserRegistration.sponserID.$dirty">SponserID is required field</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Sponser By</label>
                                    <input type="text" class="form-control" ng-model="User.SponserBy" name="SponserBy" required>
                                    <span style="color:red" ng-if="UserRegistration.SponserBy.$error.required && UserRegistration.SponserBy.$dirty">SponserBy is required field</span>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">First Name</label>
                                    <input asp-for="FirstName" type="text" name="firstname" class="form-control" ng-model="User.FirstName" required>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.firstname.$error.required && UserRegistration.firstname.$dirty">FirstName is required field</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" ng-model="User.LastName" required>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mobile Number</label>
                                    <input asp-for="MobileNumber" type="text" name="MobileNumber" ng-pattern="/^\+?\d{10}$/" class="form-control" ng-model="User.MobileNumber" required>
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                    <span style="color:red" ng-show="UserRegistration.MobileNumber.$dirty && UserRegistration.MobileNumber.$invalid">
                                        <span ng-show="UserRegistration.PhoneNumber.$error.required">Enter phone number.</span>
                                    </span>
                                    <span style="color:red" ng-show="UserRegistration.MobileNumber.$error.pattern">Please enter a 10 digit number</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Email ID</label>
                                    <input asp-for="EmailID" type="email" ng-pattern="eml_add" name="EmailID" class="form-control" ng-model="User.EmailID" required>
                                    <span asp-validation-for="EmailID" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.EmailID.$error.required && UserRegistration.EmailID.$dirty">Email is required field</span>
                                    <span style="color:red" ng-show="UserRegistration.EmailID.$error.email">Invalid Email</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Gender</label>
                                    <select asp-for="Gender" class="form-control" ng-model="User.Gender" name="gender">
                                        <option ng-repeat="gender in Genders" value="{{gender.Value}}" ng-selected="{{gender.Selected}}">{{gender.Text}}</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.gender.$error.required && UserRegistration.gender.$dirty">Select gender</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">City</label>
                                    <input asp-for="City" type="text" class="form-control" name="city" ng-model="User.City" required>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.city.$error.required && UserRegistration.city.$dirty">City is required field</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" name="password" ng-model="User.Password" required>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.password.$error.required && UserRegistration.password.$dirty">Password is required field</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" name="cpassword" class="form-control" compare-to="UserRegistration.password" ng-model="User.ConfirmPassword" required>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <span style="color:red" ng-if="UserRegistration.cpassword.$error.required && UserRegistration.cpassword.$dirty">Confirm Password is required field</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left font-weight-bold" ng-disabled="UserRegistration.$invalid"><i class="fa fa-user"></i>&nbsp;Submit</button>
                        <button type="reset" class="btn btn-danger pull-left" style="margin-left: 10px;"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@*Scripts*@
@*<script src="~/scripts/Controller/Registration/Registration.js"></script>*@
