@model MLM.Business.Models.ReqModels.RegistrationRequest

@{
    ViewData["Title"] = "Registration || GuruRajhansh";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<style>

    .border-bottom > h2 {
        border-bottom: solid 1px #0094ff;
    }
</style>
<section ng-controller="ctrRegistration">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                @*<div class="panel-heading">
                        <h2>Registration...</h2>
                    </div>*@
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading border-bottom">
                    <h2>Registration...</h2>
                </div>
                <div class="panel-body">
                    <form ng-submit="register()" name="UserRegistration">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Sponser Number</label>
                                    <input asp-for="ParentSponserID" type="text" class="form-control" ng-model="User.ParentSponserID" required>
                                    <span asp-validation-for="ParentSponserID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Sponser By</label>
                                    <input type="text" class="form-control" ng-model="User.SponserBy" required>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control" ng-model="User.FirstName" required>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" ng-model="User.LastName" required>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mobile Number</label>
                                    <input asp-for="MobileNumber" type="text" class="form-control" ng-model="User.MobileNumber" required>
                                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Email ID</label>
                                    <input asp-for="EmailID" type="email" class="form-control" ng-model="User.EmailID" required>
                                    <span asp-validation-for="EmailID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Gender</label>
                                    <select asp-for="Gender" class="form-control" ng-model="User.Gender">
                                        <option ng-repeat="gender in Genders" value="{{gender.Value}}" ng-selected="{{gender.Selected}}">{{gender.Text}}</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">City</label>
                                    <input asp-for="City" type="text" class="form-control" ng-model="User.City" required>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" ng-model="User.Password" required>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" ng-model="User.ConfirmPassword" required>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left font-weight-bold"><i class="fa fa-user"></i>&nbsp;Submit</button>
                        <button type="reset" class="btn btn-danger pull-left" style="margin-left: 10px;"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@*Scripts*@
@*<script src="~/scripts/Controller/Registration/Registration.js"></script>*@
