
@{
    ViewData["Title"] = "Welcome || GuruRajhansh";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h1>Welcome , Congratulation! You are successfully registered !</h1>
<a href="/User/Login">Click to login and activate your ID.</a>
<br />
<br />
<br />
<br />
<br />
<br />
