
@{
    ViewData["Title"] = "Index";
}

<section class="globle-info">
    <div class="panel">
        <div class="panel-heading">
            <h3><i class="fa fa-dashboard"></i>&nbsp;Dashboard</h3>
        </div>
        <div class="panel-body mt-5">
            <div class="row">
                <div class="col-lg-3">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>150</h3>
                            <p>Active Users</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>120</h3>
                            <p>Unactive Users</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-times"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3><i class="fa fa-rupee"></i>95870</h3>
                            <p>Total Income</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-rupee"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3><i class="fa fa-rupee"></i>2800</h3>
                            <p>Total withdrawal</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-angle-double-down"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<section class="basic-info">
    <div></div>

</section>

