<table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>City</th>
            <th ng-if="userInRole == 'Admin'">Token</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in data">
            <td>{{$index+1}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.mobileNumber}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.city}}</td>  
            <td ng-if="userInRole == 'Admin'"><a href="/user/GetTokenNumber?sponserID={{user.userID}}" class="btn btn-sm btn-success">Create Token</a></td>
        </tr>
    </tbody>
</table>
